html {
  background: url(https://img.besthqwallpapers.com/Uploads/25-8-2019/102992/old-blank-paper-4k-macro-candle-purple-rose.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.S1{
float:left;
clear:left;
margin-left: 390px;
margin-top: -70px;
font-size: 120%;
color:gold;
font-weight: bold;

font-family: 'Oswald', sans-serif;
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu__TnWnQ-M-aA8JJyaoRwYWhuVltjuHJ2cg&usqp=CAU);
}
.s2{
  margin-top: 100px;
  float:right;
  clear:right;
  margin-right:160px;
}
.s3{
  float:right;
  clear:right;
  margin-right:160px;
}
